@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
  --background: #F5F5F5;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --text-display-xl: 5rem;
  --text-display-md: 4rem;
  --text-display-sm: 3.5rem;
  --text-display-xs: 3rem;
  --text-title-xl: 2.5rem;
  --text-title-md: 2rem;
  --text-title-sm: 1.5rem;
  --text--title-xs: 1.25rem;
  --text-title-xxs: 1.125rem;
  --text-body-xl: 1rem;
  --text-body-md: 0.875rem;
  --text-body-sm: 0.75rem;
  --text-body-xs: 0.625rem;
  --text-caption-xl: 0.875rem;
  --text-caption-md: 0.688rem;
  --color-primary-950: #1D184E;
  --color-primary-900: #2F2887;
  --color-primary-800: #3528AB;
  --color-primary-700: #412ED4;
  --color-primary-600: #4B3BF0;
  --color-primary-500: #6967FB;
  --color-primary-400: #7980FF;
  --color-primary-300: #9FADFF;
  --color-primary-200: #C3CEFF;
  --color-primary-100: #DEE5FF;
  --color-primary-50: #EDF0FF;
}

/*@media (prefers-color-scheme: dark) {*/
/*  :root {*/
/*    --background: #090909;*/
/*    --foreground: #ededed;*/
/*  }*/
/*}*/

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  /* font-family: Arial, Helvetica, sans-serif; */
}